<link rel="stylesheet" href="/static/style.css" />

<head>
    <h1 id="main-head">Classifying RGB valuse</h1>
</head>
<body id="main-body">
    <div class="info-panel">
        <h3>Set RGB values ​​and press 'Classify' to see the effect of classification by our model.</h3>
        <form action=" {{ request.path }} " method="post">
            <input type="color" name="color", value="#ff0000"/>
            <input type="submit" value="Classify" />
        </form>
        <form method="get" action="{{url_for('index')}}">
            <input id="buttons" type="submit" value="Back">
        </form>
    </div>
</body>


