<link rel="stylesheet" href="/static/style.css" />
<head>
  <h1 id="main-head">Model relearning</h1>
</head>
<body id="main-body">
  <h3>Underneath you see a rectangle of random color</h3>
  <div class="info-panel">
    <div id="random-color-panel">
      <svg width="100%" height="300">
        <rect width="300" height="300" style="fill:rgb({{r}},{{g}},{{b}});" />
      </svg>
    </div>
    <h3>Please choose a color that best describes it</h3>
    <form method="post" action="{{url_for('relearning')}}">
      {{form_relearn.csrf_token}}
      <br />{{form_relearn.choice}}
      <div id="rgb-input" hidden>
        <br />
        <br />{{form_relearn.r_value.label}}{{form_relearn.r_value}}
        <br />
        <br />{{form_relearn.g_value.label}}{{form_relearn.g_value}}
        <br />
        <br />{{form_relearn.b_value.label}}{{form_relearn.b_value}}
      </div>
      <input id="buttons" type="submit" value="Relearn Model" />
    </form>
    <form method="get" action="{{url_for('index')}}">
      <input id="buttons" type="submit" value="Back" />
    </form>
  </div>
</body>
